<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Projects: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'design' %>
</head>

<div id="products-top-section-1"> EXTEND THIS</div>
<div id="products-top-section-2"> Add an overlaying image here<div id="products-bottom-section-2"> Add an overlaying image here</div></div>


<div id="products-body-header">
TEST TEST TEST TEST
</div>

<div id="wrapper-body">
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</div>

<div id="products-body-footer">
JarrodDane for CreativeControl Interactive
</div>

<div id="products-bottom-section-1"> Add an overlaying image here<div id="products-bottom-section-2"> Add an overlaying image here</div></div>
<div id="products-bottom-section-2"> Add an overlaying image here</div>

</html>
